<mat-toolbar color="accent" class="shadow fw-bold">
    <span class="logo"><mat-icon>restaurant</mat-icon></span>
    <span class="logoname">Hunger Saviour</span>
    <span class="spacer"></span>
    <div class="nav-links">
      <a href=""><mat-icon>help</mat-icon>Help</a>
      <a routerLink="/restaurants" routerLinkActive="active-link"><mat-icon>restaurant_menu</mat-icon>Restaurants</a>
      <a routerLink="/login" routerLinkActive="active-link"><mat-icon>person</mat-icon>Sign In</a>
      <a href=""><mat-icon>shopping_cart</mat-icon>Cart</a>
    </div>
  </mat-toolbar>