@import '../../styles/variables.scss';
.mat-toolbar {
  background: #FFFFFF !important;
}

.spacer{
  flex: 1 1 auto;
}

.logo{
  mat-icon{
    color: $primary-color;
  }
}

.logoname{
  color: $primary-color;
  font-weight: bolder;
  font-size: large;
}

.nav-links{
  gap: 4rem;
  display: flex;
  :hover{
    color: $primary-color;
  }
  a{
    display: flex;
    text-decoration: none;
    color: #5C5B5B;
    &.active-link{
      color: $primary-color;
    }
  }
}