<div class="d-flex flex-wrap justify-content-center">
    <app-restaurant class="mx-3" *ngFor="let restaurant of restaurants" [restaurant]="restaurant"></app-restaurant>
    <!-- <app-restaurant [url] = "'https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/9fc6c247e09254670265953d03701280'"></app-restaurant>
    <app-restaurant [url] = "'https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/94654fdf308764cd0faf83dba35bcdc3'"></app-restaurant> -->
  </div>
