<mat-card class="restaurant-card no-shadow">
    <div class="card-image-container">
      <img mat-card-image [src]="restaurant?.url" alt="Restaurant Photo">
    </div>
    <mat-card-content>
      <div class="d-flex flex-column">
          <div class="fw-bold">{{restaurant?.restaurant_name}}</div>
          <div class="d-flex flex-row fw-bold"><mat-icon style="color: green;">stars</mat-icon>{{restaurant?.rating}}</div>
          <div class="text-secondary text-truncate">{{restaurant?.menuType}}</div>
          <div class="text-secondary">{{restaurant?.location}}</div>
      </div>
    </mat-card-content>
  </mat-card>